@import url('https://fonts.googleapis.com/css?family=Merienda');

.card {
    text-align: center;
    background-color:lightgray;
    user-select: none;
    font-family: 'Merienda', cursive;
    width: 120px;
    height: 150px;
    border: 2px solid black;
    border-radius: 10px;

    &__name {
        font-weight: bold;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size: 12px;
    }

    &__clock {
        position: absolute;
        background-image: url('../images/clock.png');
        width: 28px;
        height: 27px;
        padding-top: 1px;
        margin-top: -2px;
        margin-left: 2px;
    }

    &__img {
        object-fit: cover;
        width: 100px;
        height: 95px;
    }

    &__stats {
        margin: 0 5px;
    }

    &__power {
        float: left;
        background-image: url('../images/sword.png');
        position: relative;
        line-height: 24px;
        width: 28px;
        height: 28px;
        &--long {
            font-size: 11px;
        }
    }

    &__hp {
        float: right;
        background-image: url('../images/heart.png');
        padding-top: 2px;
        width: 28px;
        height: 26px;
        &--long {
            font-size: 14px;
            line-height: 24px;
        }
    }
}
